{% extends 'base.html.twig' %}
{% block title_page %} Home {% endblock %}

{% block body %}
    <!-- main-content -->
    <div class="main-content app-content">

        <!-- container -->
        <div class="main-container container-fluid">

            <!-- breadcrumb -->
            <div class="breadcrumb-header justify-content-between">
                <div class="left-content">
                    <span class="main-content-title mg-b-0 mg-b-lg-1">Home Page</span>
                </div>
                <div class="justify-content-center mt-2">
                    <ol class="breadcrumb breadcrumb-style3">
                        <li class="breadcrumb-item tx-15"><a href="javascript:void(0);">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Advertisements</li>
                    </ol>
                </div>
            </div>
            <!-- /breadcrumb -->

            <!-- row -->
            <div class="row">
                <style>
                    .card-body h5,
                    .card-body p {
                        display: -webkit-box;
                        -webkit-line-clamp: 1; /* Số dòng tối đa hiển thị */
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis; /* Hiển thị dấu chấm cuối khi nội dung bị cắt ngắn */
                    }
                </style>

                {% for advertisement in advertisements %}
                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
                        <div class="card overflow-hidden">
                            <a href="blog-details.html"><img class="br-be-0 br-bs-0 w-100" src="https://i.imgur.com/O7I7xVb.jpg" alt="img"></a>
                            <div class="card-body">
                                <a class="text-primary" href="{{ path('advertisements_details', {slug: advertisement.slug}) }}"><h5>{{ advertisement.title }}</h5></a>
                                <p class="tx-muted mb-0 text-secondary">{{ advertisement.content }}</p>
                                <p class="text-sm text-danger">- Category: {{ advertisement.categories.name }}</p>
                                <div class="mt-3 flex-between">
                                    <a href="{{ path('advertisements_details', {slug: advertisement.slug}) }}" class="btn btn-primary">Read Article</a>
                                    <span class="tx-11 tx-muted">A Minutes To Read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Container closed -->
    </div>
    <!-- main-content closed -->

{% endblock %}
