<div class="main-header side-header sticky nav nav-item">
    <div class=" main-container container-fluid">
        <div class="main-header-left">
            <div class="responsive-logo">
                <a href="/" class="header-logo">
                    <img src="{{ asset('../assets/img/brand/logo-white.png') }}" class="mobile-logo dark-logo-1" alt="logo">
                    <img src="{{ asset('../assets/img/brand/logo-white-1.png') }}" class="mobile-logo-1 dark-logo-1"
                         alt="logo">
                </a>
            </div>
            <div class="app-sidebar__toggle" data-bs-toggle="sidebar">
                <!-- <div class="icon"></div> -->
                <a class="open-toggle" href="javascript:void(0)"><i
                            class="header-icon fe fe-align-left"></i></a>
                <a class="close-toggle" href="javascript:void(0)"><i class="header-icon fe fe-x"></i></a>
            </div>
            <div class="logo-horizontal">
                <a href="/" class="header-logo">
                    <img src="{{ asset('../assets/img/brand/logo-white.png') }}" class="mobile-logo dark-logo-1" alt="logo">
                    <img src="{{ asset('../assets/img/brand/logo-white-1.png') }}" class="mobile-logo-1 dark-logo-1"
                         alt="logo">
                </a>
            </div>
            <div class="main-header-center ms-4 d-sm-none d-md-none d-lg-block form-group">
                <input class="form-control" placeholder="Search..." type="search">
                <button class="btn br-te-4 br-be-4"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="main-header-right">
            <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                    aria-controls="navbarSupportedContent-4" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fe fe-more-vertical"></span>
            </button>
            <div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="nav nav-item header-icons navbar-nav-right ms-auto">
                        <li class="nav-item full-screen fullscreen-button">
                            <a class="new nav-link full-screen-link" href="javascript:void(0)">
                                <svg class="ionicon header-icon-svgs"
                                     viewBox="0 0 512 512">
                                    <title>Full Width</title>
                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                          stroke-linejoin="round" stroke-width="32"
                                          d="M432 320v112H320M421.8 421.77L304 304M80 192V80h112M90.2 90.23L208 208M320 80h112v112M421.77 90.2L304 208M192 432H80V320M90.23 421.8L208 304"/>
                                </svg>
                            </a>
                        </li>
                        <li class="dropdown right-toggle">
                            <a href="https://github.com/datkingvn" class="new nav-link nav-link pe-0" data-bs-toggle="sidebar-right"
                               data-bs-target=".sidebar-right">
                                <svg class="ionicon header-icon-svgs"
                                     viewBox="0 0 512 512">
                                    <title>Author</title>
                                    <path d="M448 256L272 88v96C103.57 184 64 304.77 64 424c48.61-62.24 91.6-96 208-96v96z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"></path>
                                </svg>
                                <span class="pulse"></span>
                            </a>
                        </li>
                        <li class="search-icon d-lg-none d-block">
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
													<button type="reset" class="btn btn-default">
														<i class="fas fa-times"></i>
													</button>
													<button type="submit" class="btn btn-default nav-link resp-btn">
														<svg
                                                                class="ionicon header-icon-svgs" viewBox="0 0 512 512">
															<title>Search</title>
															<path
                                                                    d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"
                                                                    fill="none" stroke="currentColor"
                                                                    stroke-miterlimit="10"
                                                                    stroke-width="32"/>
															<path fill="none" stroke="currentColor"
                                                                  stroke-linecap="round" stroke-miterlimit="10"
                                                                  stroke-width="32" d="M338.29 338.29L448 448"/>
														</svg>
													</button>
												</span>
                                </div>
                            </form>
                        </li>
                        <li class="dropdown main-profile-menu nav-item">
                            <a class="new nav-link profile-user rounded-circle shadow d-flex"
                               href="javascript:void(0)" data-bs-toggle="dropdown"><img alt=""
                                                                                        src="https://i.imgur.com/kU6LSHu.jpg"></a>
                            <ul class="dropdown-menu">
                                <li class="bg-primary p-3 br-ts-5 br-te-5 ">
                                    <div class="d-flex wd-100p">
                                        <div class="avatar"><img alt="avatar" class="rounded-circle"
                                                                 src="https://i.imgur.com/bKRfi5t.gif"></div>
                                        <div class="ms-3 my-auto">
                                            {% if app.user %}
                                                <h6 class="tx-15 text-black font-weight-semibold mb-0">User Website</h6>
                                                <span class="text-black op-8 tx-11">{{ app.user.email }}</span>
                                            {% else %}
                                                <span class="text-black op-8 tx-11">User not Logged In</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                                {% if app.user %}
                                    <li><a class="dropdown-item" href="/users"><i
                                                    class="fe fe-user"></i>Profile</a></li>
                                    <li><a class="dropdown-item" href="/users/profile/edit"><i
                                                    class="fe fe-settings"></i>Settings</a></li>
                                    <li><a class="dropdown-item" href="/logout"><i
                                                    class="fe fe-power"></i>Log Out</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="/login"><i
                                                    class="fe fe-user"></i>Login Now</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>