{% extends 'base.html.twig' %}
{% block title %}Admin - Advertisements{% endblock %}
{% block body %}
    <!-- main-content -->
    <div class="main-content app-content">
        <!-- container -->
        <div class="main-container container-fluid">
            <!-- breadcrumb -->
            <div class="breadcrumb-header justify-content-between">
                <div class="left-content">
                    {# <span class="main-content-title mg-b-0 mg-b-lg-1"><a href="{{path('admin_categories_add')}}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-plus"></i> Add Category</a></span> #}
                </div>
                <div class="justify-content-center mt-2">
                    <ol class="breadcrumb breadcrumb-style3">
                        <li class="breadcrumb-item tx-15"><a href="javascript:void(0);">Admin</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Advertisements</li>
                    </ol>
                </div>
            </div>
            <!-- /breadcrumb -->

            {% for flashMessage in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <!-- Row -->
            <div class="row row-sm">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Show List Advertisements</div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-nowrap border-bottom" id="responsiveDataTable">
                                    <thead>
                                    <tr>
                                        <th class="wd-20p">ID</th>
                                        <th class="wd-25p">Title</th>
                                        <th class="wd-20p">Date</th>
                                        <th class="wd-15p">Active</th>
                                        <th class="wd-20p">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for advertisement in advertisements %}
                                        <tr>
                                            <td>
                                                <div class="badge border-orange border tx-orange fs-11 my-auto">
                                                    <span class="text-primary">ID: {{ advertisement.id }}</span> - Status: ({{ advertisement.active ? 'Active' : 'Inactive' }})
                                                </div>
                                            </td>
                                            <td>{{ advertisement.title }}</td>
                                            <td class="text-secondary">{{ advertisement.createdAt | date }}</td>
                                            <td>
                                                    <span>
                                                        <div class="btn-list">
                                                            <a href="javascript:void(0);" class="btn btn-outline-primary" onclick="toggleActive({{ advertisement.id }}, true)">
                                                                <i class="fas fa-check"></i> Active
                                                            </a>
                                                            <a href="javascript:void(0);" class="btn btn-outline-danger" onclick="toggleActive({{ advertisement.id }}, false)">
                                                                <i class="fas fa-ban"></i> Inactive
                                                            </a>
                                                        </div>
                                                    </span>
                                            </td>
                                            <td>
                                                <div class="card-body">
                                                    <a class="btn btn-primary" data-bs-target="#modal-{{ advertisement.id }}" data-bs-toggle="modal" href="javascript:void(0)"><i class="fas fa-eye"></i> View Content</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modal-{{ advertisement.id }}" tabindex="-1" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h6 class="modal-title">Content of <span class="text-primary">{{ advertisement.id }} - {{ advertisement.title }}</span></h6>
                                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>{{ advertisement.content }}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-sm btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                                                        <button class="btn btn-sm btn-primary" type="button">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Modal -->
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- Container closed -->
    </div>
    <!-- main-content closed -->

    <script>
        function toggleActive(id, active) {
            // Create an XMLHttpRequest object
            var xhr = new XMLHttpRequest();

            // Set the method and URL of the AJAX request
            xhr.open("POST", "/admin/advertisements/active-advertisements/" + id, true);

            // Set the headers of the AJAX request
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onload = function () {
                if (xhr.status === 200) {
                    location.reload(); // Reload the page
                } else {
                    console.error("Request failed with status: " + xhr.status);
                }
            };

            // Send the AJAX request with the payload data
            var payload = JSON.stringify({ active: active });
            xhr.send(payload);
        }
    </script>
{% endblock %}