{% extends 'base.html.twig' %}
{% block title %}Admin- Category{% endblock %}
{% block body %}
    <!-- main-content -->
    <div class="main-content app-content">

        <!-- container -->
        <div class="main-container container-fluid">

            <!-- breadcrumb -->
            <div class="breadcrumb-header justify-content-between">
                <div class="left-content">
                    <span class="main-content-title mg-b-0 mg-b-lg-1"><a href="{{path('admin_categories_add')}}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-plus"></i> Add Category</a></span>
                </div>
                <div class="justify-content-center mt-2">
                    <ol class="breadcrumb breadcrumb-style3">
                        <li class="breadcrumb-item tx-15"><a href="javascript:void(0);">Admin</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Categories</li>
                    </ol>
                </div>
            </div>
            <!-- /breadcrumb -->

            <!-- Row -->
            <div class="row row-sm">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Show List Categories</div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive ">
                                <table class="table table-bordered text-nowrap border-bottom" id="responsiveDataTable">
                                    <thead>
                                    <tr>
                                        <th class="wd-20p">ID</th>
                                        <th class="wd-25p">Name</th>
                                        <th class="wd-20p">Parent</th>
                                        <th class="wd-15p">Slug</th>
                                        <th class="wd-20p">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for category in categories %}
                                    <tr>
                                        <td>{{ category.id }}</td>
                                        <td>{{ category.name }}</td>
                                        <td>{{ category.parent }}</td>
                                        <td><span class="badge badge-pill bg-primary-transparent tx-primary px-3 py-2 tx-11">{{ category.slug }}</span></td>
                                        <td><div class="btn-list">
                                                <a href="xx" class="btn btn-sm btn-outline-primary"><i class="fe fe-edit"></i> Edit</a>
                                                <a href="javascript:void(0);" class="btn btn-sm btn-outline-danger"><i class="fe fe-trash"></i> Delete</a>
                                            </div></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- Container closed -->
    </div>
    <!-- main-content closed -->

{% endblock %}
